.gameBtn{
  line-height: 30px;
  width: 100px;
  border-radius: 12px;
  border-color: rgb(175, 207, 235);
  font-weight: bold;
}

#gameDiv{
  font-family:  cursive;
  border: 3px solid;
  border-radius: 25px;
  background-color: grey;
  padding: 10px;
  text-align: center;
}

#playerText{
  color: blue;
}
#computerText{
  color: red;
}
#resultText{
  color: rgb(209, 231, 6);
}